/*!
 * This file is part of: Skizzar Admin Theme
 * Author: Skizzar
 * Author URI: http://skizzar.com/
 * Version: 1.0
 */

body {
  max-width: none !important;
  font-size: 17px !important;
  line-height: 1.4 !important;
  font-family: "Lato", "Helvetica Neue", "Segoe UI", "Roboto", "Open Sans", sans-serif !important;
  margin: 22px !important;
}

body {
  color: #222 !important;
}

body.wp-autoresize {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

b, strong {
  font-weight: 600 !important;
}

a,
a:hover,
a:active,
a:focus {
  border: 0 !important;
  text-decoration: underline !important;
}

a,
a:hover,
a:active,
a:focus {
  color: #42abdf !important;
}

p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 23.8px !important;
}

ul,
ol {
  list-style-position: inside !important;
}

blockquote {
  border-left: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
}

blockquote, blockquote p {
  font-family: serif;
  font-style: normal !important;
}

blockquote, blockquote p {
  color: #222 !important;
}

table th,
table td,
.mce-item-table th,
.mce-item-table td,
table caption {
  font-family: "Lato", "Helvetica Neue", "Segoe UI", "Roboto", "Open Sans", sans-serif !important;
}
